.btn {
    height: 250px;
    width: 250px;
    border-radius: 20%;
    border: 7px solid black;
    margin: 5px;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: purple;
}

.btn-container {
    height: 550px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

.flash {
    background-color: white;
}
.userFlash {
    background-color: greenyellow;
}